# Python
__pycache__/
*.pyc
*.pyo
venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Env 
.env
correctur.txt
project_explaine.txt

# Logs 
logs/

# Docker
staticfiles/

# IDE
.vscode/
.idea/
.DS_Store